<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:mo="https://gitee.com/aun/Timo">
<head
	th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
	<div class="layui-card">
		<div class="layui-card-header timo-card-header">
			<span><i class="fa fa-bars"></i> Order Management</span> <i
				class="layui-icon layui-icon-refresh refresh-btn"></i>
		</div>
		<div class="layui-card-body">
			<div class="pull-left layui-form-pane timo-search-box">
				<div class="layui-inline">
					<label class="layui-form-label">orderNo</label>
					<div class="layui-input-block">
						<input type="text" name="orderNo" th:value="${param.orderNo}"
							placeholder="Please enter the order number" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<button class="layui-btn timo-search-btn">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
			<div class="layui-row timo-card-screen">
				<div class="pull-right screen-btn-group">
				</div>
			</div>
			<div class="timo-table-wrap">
				<table class="layui-table timo-table">
					<thead>
						<tr>
							<th>Order NO</th>
							<th>Order Time</th>
							<th>Supplier Sku</th>
							<th>Item Code</th>
							<th>Brand</th>
							<th>Size</th>
							<th>Color</th>
							<th>Season</th>
							<th>Settle Price</th>
							<th>Retail Price</th>
							<th>Order Status</th>
							<th>Shipment Status</th>
							<th>Delivery Company</th>
							<th>Tracking No</th>
							<th>Barcode</th>
							<th>Shipment Time</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${list}">
							<td th:text="${item.orderNo}">订单号</td>
							<td th:text="${item.submitTime}">下单时间</td>
							<td th:text="${item.sku}">商品sku</td>
							<td th:text="${item.artNo}">货号</td>
							<td th:text="${item.brand}">品牌</td>
							<td th:text="${item.size}">尺码</td>
							<td th:text="${item.color}">颜色</td>
							<td th:text="${item.season}">季节</td>
							<td th:text="${item.price}">价格</td>
							<td th:text="${item.retailPrice}">市场价</td>
							<td th:text="${item.orderStatus}">订单状态</td>
							<td th:text="${item.supplierDeliveryStatus}">供应商发货状态</td>
							<td th:text="${item.supplierDelivery}">供应商物流公司</td>
							<td th:text="${item.supplierDeliveryNo}">供应商物流号</td>
							<td><a th:href = "${item.supplierBarCode}"><img th:src="${item.supplierBarCode}"></img></a></td>
							<td th:text="${item.supplierTime}">供应商发货时间</td>
							<td><a class="open-popup" data-title="Edit Order"
								th:attr="data-url=@{'/system/order/edit/'+${item.id}}"
								data-size="auto" href="#">edit</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:replace="/common/fragment :: page"></div>
		</div>
	</div>
	<script th:replace="/common/template :: script"></script>
</body>
</html>